div.instruct, div.activity {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 50px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 15px center;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
}

div.instruct{
  background-image: url("./icons/instructor.png");
}

div.activity{
  background-image: url("./icons/Your-turn.png");
}
